<ion-content>
  <app-header></app-header>
  <div class="principal">
    <h2 class="title">Recuperar Contraseña</h2>
    <p class="description">Introduce tu nombre de usuario para recuperar tu contraseña.</p>

    <ion-item class="input-container">
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" maxlength="50" [counter]="true"></ion-input>
    </ion-item>

    <ion-button expand="block" color="primary" class="recover-button">Recuperar Contraseña</ion-button>
    
    <p class="support">¿Necesitas ayuda? <a href="#">Contacta a soporte</a>.</p>
  </div>
</ion-content>
